In [3]:
# Libraries Import
import tensorflow as tf
import tensorflow
import numpy as np
import pandas as pd
import statistics
import keras
from keras.models import Sequential
from keras.layers import Dense

In [4]:
# Data Import and consistency check
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [5]:
concrete_data.shape

(1030, 9)

In [6]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [7]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [8]:
# Split data into predictors and target
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [9]:
# Number of predictors definition
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [10]:
#spliting the data into training st and test set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.30, random_state=1)

print("number of test samples :", X_test.shape[0])
print("number of training samples:",X_train.shape[0])

number of test samples : 309
number of training samples: 721

In [11]:
# Definition of the regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [15]:
# build the model
model = regression_model()

In [16]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 0s - loss: 15630.0498
Epoch 2/50
 - 0s - loss: 10893.7095
Epoch 3/50
 - 0s - loss: 8780.6189
Epoch 4/50
 - 0s - loss: 7410.3677
Epoch 5/50
 - 0s - loss: 6322.0909
Epoch 6/50
 - 0s - loss: 5391.6630
Epoch 7/50
 - 0s - loss: 4621.0621
Epoch 8/50
 - 0s - loss: 3911.1867
Epoch 9/50
 - 0s - loss: 3318.4574
Epoch 10/50
 - 0s - loss: 2802.7564
Epoch 11/50
 - 0s - loss: 2350.2578
Epoch 12/50
 - 0s - loss: 1956.6334
Epoch 13/50
 - 0s - loss: 1640.5578
Epoch 14/50
 - 0s - loss: 1357.3400
Epoch 15/50
 - 0s - loss: 1132.2069
Epoch 16/50
 - 0s - loss: 933.1728
Epoch 17/50
 - 0s - loss: 784.3468
Epoch 18/50
 - 0s - loss: 665.1615
Epoch 19/50
 - 0s - loss: 564.6535
Epoch 20/50
 - 0s - loss: 489.2938
Epoch 21/50
 - 0s - loss: 429.3086
Epoch 22/50
 - 0s - loss: 378.9131
Epoch 23/50
 - 0s - loss: 343.3416
Epoch 24/50
 - 0s - loss: 310.6295
Epoch 25/50
 - 0s - loss: 285.1966
Epoch 26/50
 - 0s - loss: 265.0824
Epoch 27/50
 - 0s - loss: 248.2055
Epoch 28/50
 - 0s - loss: 233.4826
Epoch 29/50
 - 0s - loss: 224.1069
Epoch 30/50
 - 0s - loss: 211.0291
Epoch 31/50
 - 0s - loss: 203.8216
Epoch 32/50
 - 0s - loss: 192.0372
Epoch 33/50
 - 0s - loss: 183.5219
Epoch 34/50
 - 0s - loss: 177.3764
Epoch 35/50
 - 0s - loss: 172.0128
Epoch 36/50
 - 0s - loss: 169.7574
Epoch 37/50
 - 0s - loss: 160.8874
Epoch 38/50
 - 0s - loss: 155.1184
Epoch 39/50
 - 0s - loss: 150.3903
Epoch 40/50
 - 0s - loss: 146.5167
Epoch 41/50
 - 0s - loss: 141.0399
Epoch 42/50
 - 0s - loss: 138.6059
Epoch 43/50
 - 0s - loss: 136.1560
Epoch 44/50
 - 0s - loss: 133.0030
Epoch 45/50
 - 0s - loss: 130.0018
Epoch 46/50
 - 0s - loss: 125.7452
Epoch 47/50
 - 0s - loss: 124.1165
Epoch 48/50
 - 0s - loss: 121.6345
Epoch 49/50
 - 0s - loss: 122.2115
Epoch 50/50
 - 0s - loss: 118.5984

In [17]:
y_pred = model.predict(X_test)

In [14]:
print("The mean is", round(statistics.mean(scores),1), "and the standard deviation is" , round(statistics.stdev(scores),1))

The mean is 362.0 and the standard deviation is 524.2

In [20]:
from sklearn.metrics import mean_squared_error
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 90.26230388011747
MSE 2: 121.84079189362264
MSE 3: 106.75500821604312
MSE 4: 111.25723802387522
MSE 5: 113.4590387930762
MSE 6: 104.15505625900713
MSE 7: 90.57485428597163
MSE 8: 74.33030584637787
MSE 9: 68.89240524143848
MSE 10: 68.00876202629608
MSE 11: 74.41845038947936
MSE 12: 58.803439464383914
MSE 13: 66.06022615648781
MSE 14: 65.17051170867623
MSE 15: 52.421263018858085
MSE 16: 43.985226427467126
MSE 17: 45.402150299171026
MSE 18: 45.916949367831826
MSE 19: 38.94762963847435
MSE 20: 49.98039901140824
MSE 21: 42.10933890234691
MSE 22: 41.44999429400299
MSE 23: 36.81417491135088
MSE 24: 42.086562480741335
MSE 25: 50.24251938483476
MSE 26: 49.16670915918443
MSE 27: 43.787205075754706
MSE 28: 38.18084887161996
MSE 29: 43.43024617414258
MSE 30: 46.960623059072155
MSE 31: 45.2833769838401
MSE 32: 38.94251679602564
MSE 33: 40.159275264801714
MSE 34: 43.36780029593162
MSE 35: 44.101486378888865
MSE 36: 45.79385676584583
MSE 37: 48.144301016353864
MSE 38: 44.92755280034827
MSE 39: 41.23490551451649
MSE 40: 42.32396910337183
MSE 41: 50.52128404166706
MSE 42: 39.21019636234419
MSE 43: 48.29981069966041
MSE 44: 47.676761170421216
MSE 45: 50.97793095165858
MSE 46: 44.38215901396421
MSE 47: 54.823795775379565
MSE 48: 47.01754722471762
MSE 49: 46.48565649137528
MSE 50: 44.611188265112226


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 56.663111763313545
Standard Deviation: 21.961856700205