In [1]:
# Libraries Import
import tensorflow as tf
import tensorflow
import numpy as np
import pandas as pd
import statistics
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [2]:
# Data Import and consistency check
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
# Split data into predictors and target
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
# Number of predictors definition
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [8]:
# Data normalization
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [9]:
#spliting the data into training st and test set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.30, random_state=1)

print("number of test samples :", X_test.shape[0])
print("number of training samples:",X_train.shape[0])

number of test samples : 309
number of training samples: 721

In [10]:
# Definition of the regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [11]:
# build the model
model = regression_model()

In [12]:
# fit the model
epochs = 100
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/100
 - 0s - loss: 1505.4301
Epoch 2/100
 - 0s - loss: 1489.4011
Epoch 3/100
 - 0s - loss: 1473.0302
Epoch 4/100
 - 0s - loss: 1456.5882
Epoch 5/100
 - 0s - loss: 1439.3753
Epoch 6/100
 - 0s - loss: 1421.9524
Epoch 7/100
 - 0s - loss: 1403.6670
Epoch 8/100
 - 0s - loss: 1384.7368
Epoch 9/100
 - 0s - loss: 1365.1014
Epoch 10/100
 - 0s - loss: 1344.2411
Epoch 11/100
 - 0s - loss: 1322.9069
Epoch 12/100
 - 0s - loss: 1299.9858
Epoch 13/100
 - 0s - loss: 1276.5416
Epoch 14/100
 - 0s - loss: 1252.3214
Epoch 15/100
 - 0s - loss: 1226.9745
Epoch 16/100
 - 0s - loss: 1200.5078
Epoch 17/100
 - 0s - loss: 1173.4773
Epoch 18/100
 - 0s - loss: 1145.7196
Epoch 19/100
 - 0s - loss: 1117.1873
Epoch 20/100
 - 0s - loss: 1088.0581
Epoch 21/100
 - 0s - loss: 1058.3039
Epoch 22/100
 - 0s - loss: 1027.7448
Epoch 23/100
 - 0s - loss: 997.4599
Epoch 24/100
 - 0s - loss: 966.1132
Epoch 25/100
 - 0s - loss: 935.0544
Epoch 26/100
 - 0s - loss: 902.5750
Epoch 27/100
 - 0s - loss: 870.8296
Epoch 28/100
 - 0s - loss: 837.7486
Epoch 29/100
 - 0s - loss: 804.5430
Epoch 30/100
 - 0s - loss: 771.5847
Epoch 31/100
 - 0s - loss: 737.9169
Epoch 32/100
 - 0s - loss: 705.6015
Epoch 33/100
 - 0s - loss: 672.9878
Epoch 34/100
 - 0s - loss: 641.1430
Epoch 35/100
 - 0s - loss: 610.7714
Epoch 36/100
 - 0s - loss: 580.3695
Epoch 37/100
 - 0s - loss: 551.8689
Epoch 38/100
 - 0s - loss: 523.9514
Epoch 39/100
 - 0s - loss: 497.5157
Epoch 40/100
 - 0s - loss: 472.4188
Epoch 41/100
 - 0s - loss: 448.2518
Epoch 42/100
 - 0s - loss: 425.7388
Epoch 43/100
 - 0s - loss: 404.3182
Epoch 44/100
 - 0s - loss: 384.2677
Epoch 45/100
 - 0s - loss: 365.8263
Epoch 46/100
 - 0s - loss: 348.6404
Epoch 47/100
 - 0s - loss: 332.4912
Epoch 48/100
 - 0s - loss: 317.6997
Epoch 49/100
 - 0s - loss: 303.9664
Epoch 50/100
 - 0s - loss: 291.4088
Epoch 51/100
 - 0s - loss: 279.8124
Epoch 52/100
 - 0s - loss: 269.2117
Epoch 53/100
 - 0s - loss: 259.5581
Epoch 54/100
 - 0s - loss: 250.7662
Epoch 55/100
 - 0s - loss: 242.6830
Epoch 56/100
 - 0s - loss: 235.2541
Epoch 57/100
 - 0s - loss: 228.4893
Epoch 58/100
 - 0s - loss: 222.3843
Epoch 59/100
 - 0s - loss: 216.6800
Epoch 60/100
 - 0s - loss: 211.7255
Epoch 61/100
 - 0s - loss: 206.9331
Epoch 62/100
 - 0s - loss: 202.6506
Epoch 63/100
 - 0s - loss: 198.6889
Epoch 64/100
 - 0s - loss: 195.0916
Epoch 65/100
 - 0s - loss: 191.7403
Epoch 66/100
 - 0s - loss: 188.6314
Epoch 67/100
 - 0s - loss: 185.7316
Epoch 68/100
 - 0s - loss: 183.0084
Epoch 69/100
 - 0s - loss: 180.3476
Epoch 70/100
 - 0s - loss: 177.9642
Epoch 71/100
 - 0s - loss: 175.7406
Epoch 72/100
 - 0s - loss: 173.5351
Epoch 73/100
 - 0s - loss: 171.4659
Epoch 74/100
 - 0s - loss: 169.5251
Epoch 75/100
 - 0s - loss: 167.5894
Epoch 76/100
 - 0s - loss: 165.7594
Epoch 77/100
 - 0s - loss: 163.8933
Epoch 78/100
 - 0s - loss: 162.2143
Epoch 79/100
 - 0s - loss: 160.5726
Epoch 80/100
 - 0s - loss: 158.8619
Epoch 81/100
 - 0s - loss: 157.2838
Epoch 82/100
 - 0s - loss: 155.7561
Epoch 83/100
 - 0s - loss: 154.2478
Epoch 84/100
 - 0s - loss: 152.8277
Epoch 85/100
 - 0s - loss: 151.4602
Epoch 86/100
 - 0s - loss: 150.0584
Epoch 87/100
 - 0s - loss: 148.7303
Epoch 88/100
 - 0s - loss: 147.4910
Epoch 89/100
 - 0s - loss: 146.2508
Epoch 90/100
 - 0s - loss: 145.0683
Epoch 91/100
 - 0s - loss: 143.8473
Epoch 92/100
 - 0s - loss: 142.6565
Epoch 93/100
 - 0s - loss: 141.5080
Epoch 94/100
 - 0s - loss: 140.3976
Epoch 95/100
 - 0s - loss: 139.2527
Epoch 96/100
 - 0s - loss: 138.1146
Epoch 97/100
 - 0s - loss: 137.0321
Epoch 98/100
 - 0s - loss: 135.9733
Epoch 99/100
 - 0s - loss: 134.8697
Epoch 100/100
 - 0s - loss: 133.8161

In [13]:
y_pred = model.predict(X_test)

In [14]:
from sklearn.metrics import mean_squared_error
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm , target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 82.62265481300724
MSE 2: 84.14219806263748
MSE 3: 67.40805330245627
MSE 4: 56.894619753445625
MSE 5: 45.58526913787941
MSE 6: 45.998834122346054
MSE 7: 45.71501372007105
MSE 8: 36.08871871059381
MSE 9: 38.618989790141775
MSE 10: 38.601910551003265
MSE 11: 37.392174705332536
MSE 12: 32.99713784128331
MSE 13: 41.94697718944364
MSE 14: 43.33722468255793
MSE 15: 35.15484098169024
MSE 16: 31.93231912261074
MSE 17: 37.907111066059
MSE 18: 37.29312493654516
MSE 19: 35.19966531648605
MSE 20: 36.6851516896467
MSE 21: 35.120392092609094
MSE 22: 35.95796764707102
MSE 23: 29.90805223458793
MSE 24: 34.90398006994747
MSE 25: 37.515309917116625
MSE 26: 36.034472900686914
MSE 27: 33.155518294152316
MSE 28: 33.866864806240045
MSE 29: 40.435014990155366
MSE 30: 38.093763555137855
MSE 31: 32.095290940170536
MSE 32: 33.7168973965938
MSE 33: 32.48065431218317
MSE 34: 36.82893838234318
MSE 35: 34.71777578310673
MSE 36: 42.16541574842336
MSE 37: 31.265372640492462
MSE 38: 38.27727271515189
MSE 39: 35.953979368734515
MSE 40: 31.438275050191045
MSE 41: 38.248812295858144
MSE 42: 31.718946493945076
MSE 43: 37.19840568863458
MSE 44: 39.05899342904199
MSE 45: 37.86826707167147
MSE 46: 38.09925966972672
MSE 47: 34.1708378097386
MSE 48: 38.381152588186914
MSE 49: 36.66512829431824
MSE 50: 39.74015462437108


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 39.73206267909629
Standard Deviation: 10.869124860272677