In [1]:
# Libraries Import
import tensorflow as tf
import tensorflow
import numpy as np
import pandas as pd
import statistics
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [2]:
# Data Import and consistency check
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
# Split data into predictors and target
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
# Number of predictors definition
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [8]:
# Data normalization
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [9]:
#spliting the data into training st and test set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.30, random_state=1)

print("number of test samples :", X_test.shape[0])
print("number of training samples:",X_train.shape[0])

number of test samples : 309
number of training samples: 721

In [12]:
# Definition of the regression model with three hidden layer
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [13]:
# build the model
model = regression_model()

In [14]:
# fit the model
epochs = 50  
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 1s - loss: 1562.0151
Epoch 2/50
 - 0s - loss: 1537.4136
Epoch 3/50
 - 0s - loss: 1509.8092
Epoch 4/50
 - 0s - loss: 1471.4019
Epoch 5/50
 - 0s - loss: 1412.3277
Epoch 6/50
 - 0s - loss: 1318.3411
Epoch 7/50
 - 0s - loss: 1183.5656
Epoch 8/50
 - 0s - loss: 1016.0763
Epoch 9/50
 - 0s - loss: 824.9697
Epoch 10/50
 - 0s - loss: 635.5698
Epoch 11/50
 - 0s - loss: 472.3386
Epoch 12/50
 - 0s - loss: 357.8547
Epoch 13/50
 - 0s - loss: 282.0023
Epoch 14/50
 - 0s - loss: 239.8369
Epoch 15/50
 - 0s - loss: 215.5300
Epoch 16/50
 - 0s - loss: 200.7685
Epoch 17/50
 - 0s - loss: 190.3772
Epoch 18/50
 - 0s - loss: 183.1157
Epoch 19/50
 - 0s - loss: 177.6001
Epoch 20/50
 - 0s - loss: 172.8743
Epoch 21/50
 - 0s - loss: 169.2691
Epoch 22/50
 - 0s - loss: 165.0449
Epoch 23/50
 - 0s - loss: 162.0908
Epoch 24/50
 - 0s - loss: 159.2548
Epoch 25/50
 - 0s - loss: 157.1121
Epoch 26/50
 - 0s - loss: 154.5671
Epoch 27/50
 - 0s - loss: 152.2855
Epoch 28/50
 - 0s - loss: 150.7208
Epoch 29/50
 - 0s - loss: 148.6328
Epoch 30/50
 - 0s - loss: 147.0525
Epoch 31/50
 - 0s - loss: 145.5701
Epoch 32/50
 - 0s - loss: 144.0658
Epoch 33/50
 - 0s - loss: 142.6909
Epoch 34/50
 - 0s - loss: 141.2865
Epoch 35/50
 - 0s - loss: 139.9911
Epoch 36/50
 - 0s - loss: 138.8623
Epoch 37/50
 - 0s - loss: 137.7207
Epoch 38/50
 - 0s - loss: 136.4132
Epoch 39/50
 - 0s - loss: 135.4050
Epoch 40/50
 - 0s - loss: 134.0403
Epoch 41/50
 - 0s - loss: 133.8780
Epoch 42/50
 - 0s - loss: 132.1800
Epoch 43/50
 - 0s - loss: 131.3991
Epoch 44/50
 - 0s - loss: 130.2990
Epoch 45/50
 - 0s - loss: 129.4124
Epoch 46/50
 - 0s - loss: 128.6020
Epoch 47/50
 - 0s - loss: 127.9377
Epoch 48/50
 - 0s - loss: 127.0786
Epoch 49/50
 - 0s - loss: 126.6201
Epoch 50/50
 - 0s - loss: 126.0119

In [15]:
y_pred = model.predict(X_test)

In [16]:
from sklearn.metrics import mean_squared_error
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm , target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 84.74753884127225
MSE 2: 78.42592191233219
MSE 3: 47.13174702048688
MSE 4: 45.00223038806113
MSE 5: 40.70951188960893
MSE 6: 38.68067738307718
MSE 7: 43.13061575287754
MSE 8: 29.39769875115947
MSE 9: 35.62960582103544
MSE 10: 32.963214966857315
MSE 11: 31.01993108953087
MSE 12: 27.7612937013694
MSE 13: 34.837137040196886
MSE 14: 36.69727415560133
MSE 15: 30.21983728748309
MSE 16: 23.445491068571517
MSE 17: 23.026927089999795
MSE 18: 27.58133632079683
MSE 19: 24.634130113718964
MSE 20: 32.22574037101276
MSE 21: 25.302949528863902
MSE 22: 28.989207517753528
MSE 23: 22.596366030498615
MSE 24: 28.940956399664525
MSE 25: 26.530545459981877
MSE 26: 30.331596078224553
MSE 27: 23.502387265943014
MSE 28: 24.599205288686413
MSE 29: 29.50523068449644
MSE 30: 24.385541057895303
MSE 31: 24.94738559661174
MSE 32: 20.72183083099069
MSE 33: 22.480522822407842
MSE 34: 23.926454408269098
MSE 35: 24.76441843224189
MSE 36: 30.354181962491626
MSE 37: 20.454043977854706
MSE 38: 25.166709529543386
MSE 39: 23.581029712960945
MSE 40: 19.30077661434038
MSE 41: 26.686828570072706
MSE 42: 21.391244017962112
MSE 43: 22.99182057303518
MSE 44: 24.40135439159801
MSE 45: 27.98914003835141
MSE 46: 21.600307871994463
MSE 47: 21.886817500043456
MSE 48: 21.721310871704496
MSE 49: 23.21743646022957
MSE 50: 23.25300311733604


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 30.055769030871875
Standard Deviation: 12.35532000379136